{{define "progress_goal"}}<div id="goal-progress" class="goal-summary">
  <div class="meter"><i data-pct="{{if .Rollup}}{{.Rollup.Percent}}{{else}}0{{end}}"></i></div>
  <div class="goal-summary-meta">
    <span class="num">{{if .Rollup}}{{.Rollup.Done}}/{{.Rollup.Total}}{{else}}0/0{{end}}</span>
    <span class="count-note">Avance</span>
  </div>
</div>{{end}}
{{define "progress_tilt"}}<div id="item-tilt" class="detail-tags">
  {{if .Tilt}}{{template "ui-state" .Tilt.State}}<span class="chip" data-owner="{{if .Tilt.Owner}}personal{{else}}shared{{end}}">{{if .Tilt.Owner}}Personal{{else}}Compartido{{end}}</span>{{else}}{{template "ui-state" "pending"}}{{end}}
</div>{{end}}
